In [ ]:
#!/usr/bin/env python
# coding: utf-8

In [1]:
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, CuDNNLSTM
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
import seaborn as sns

In [2]:
train_set = pd.read_csv('train.csv',parse_dates=['Date'], low_memory = False)
final_set = pd.read_csv('test.csv', parse_dates=['Date'], low_memory = False)

In [3]:
train_set

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [4]:
final_set

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [5]:
columns_to_extract = ['Id', 'Store','DayOfWeek','Date']

# Create a new DataFrame with selected columns
original_id_df = final_set[columns_to_extract].copy()

In [6]:
store_dataset = pd.read_csv('store.csv')
store_dataset

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [7]:
merged_dataset = pd.merge(train_set, store_dataset, on = "Store", how = "left" )
merged_dataset = merged_dataset.drop(["Customers"], axis=1)
#merged_dataset.loc[merged_dataset['Store']==1]
merged_dataset

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [8]:
merged_dataset_final = pd.merge(final_set, store_dataset, on = "Store", how = "left" )
merged_dataset_final = merged_dataset_final.drop(["Id"], axis=1)
#merged_dataset.loc[merged_dataset['CompetitionDistance'].isnull()]
merged_dataset_final

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
3,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
4,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1111,6,2015-08-01,1.0,0,0,0,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
41084,1112,6,2015-08-01,1.0,0,0,0,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
41085,1113,6,2015-08-01,1.0,0,0,0,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
41086,1114,6,2015-08-01,1.0,0,0,0,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
41087,1115,6,2015-08-01,1.0,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [9]:
merged_dataset.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [10]:
merged_dataset_final.isnull().sum()

Store                            0
DayOfWeek                        0
Date                             0
Open                            11
Promo                            0
StateHoliday                     0
SchoolHoliday                    0
StoreType                        0
Assortment                       0
CompetitionDistance             96
CompetitionOpenSinceMonth    15216
CompetitionOpenSinceYear     15216
Promo2                           0
Promo2SinceWeek              17232
Promo2SinceYear              17232
PromoInterval                17232
dtype: int64

In [11]:
CompetitionDistance = 'CompetitionDistance'
Promo2SinceWeek ='Promo2SinceWeek' 
CompetitionOpenSinceMonth = 'CompetitionOpenSinceMonth'
CompetitionOpenSinceYear = 'CompetitionOpenSinceYear'
Promo2SinceYear = 'Promo2SinceYear'
PromoInterval = 'PromoInterval'
Open = 'Open'

In [12]:
if pd.api.types.is_numeric_dtype(merged_dataset[PromoInterval]):
    # Fill NaN values with the mean for numeric columns
    merged_dataset[PromoInterval].fillna(merged_dataset[PromoInterval].mean(), inplace=True)
    merged_dataset_final[PromoInterval].fillna(merged_dataset_final[PromoInterval].mean(), inplace=True)
else:
    # For non-numeric columns, fill NaN values with the most frequent value (mode)
    merged_dataset[PromoInterval].fillna(0, inplace=True)
    merged_dataset_final[PromoInterval].fillna(0, inplace=True)

In [13]:
merged_dataset[CompetitionDistance].fillna(0, inplace=True)
merged_dataset[Promo2SinceWeek].fillna(0, inplace=True)
merged_dataset[CompetitionOpenSinceMonth].fillna(0, inplace=True)
merged_dataset[CompetitionOpenSinceYear].fillna(0, inplace=True)
merged_dataset[Promo2SinceYear].fillna(0, inplace=True)


merged_dataset_final[CompetitionDistance].fillna(0, inplace=True)
merged_dataset_final[Promo2SinceWeek].fillna(0, inplace=True)
merged_dataset_final[CompetitionOpenSinceMonth].fillna(0, inplace=True)
merged_dataset_final[CompetitionOpenSinceYear].fillna(0, inplace=True)
merged_dataset_final[Promo2SinceYear].fillna(0, inplace=True)
merged_dataset_final[Open].fillna(0, inplace=True)

In [14]:
merged_dataset

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,5,2015-07-31,6064,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,5,2015-07-31,4822,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
1017206,1113,2,2013-01-01,0,0,0,a,1,a,c,9260.0,0.0,0.0,0,0.0,0.0,0
1017207,1114,2,2013-01-01,0,0,0,a,1,a,c,870.0,0.0,0.0,0,0.0,0.0,0
1017208,1115,2,2013-01-01,0,0,0,a,1,d,c,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [15]:
merged_dataset_final

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0
1,3,4,2015-09-17,1.0,1,0,0,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
2,7,4,2015-09-17,1.0,1,0,0,a,c,24000.0,4.0,2013.0,0,0.0,0.0,0
3,8,4,2015-09-17,1.0,1,0,0,a,a,7520.0,10.0,2014.0,0,0.0,0.0,0
4,9,4,2015-09-17,1.0,1,0,0,a,c,2030.0,8.0,2000.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1111,6,2015-08-01,1.0,0,0,0,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
41084,1112,6,2015-08-01,1.0,0,0,0,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0
41085,1113,6,2015-08-01,1.0,0,0,0,a,c,9260.0,0.0,0.0,0,0.0,0.0,0
41086,1114,6,2015-08-01,1.0,0,0,0,a,c,870.0,0.0,0.0,0,0.0,0.0,0
41087,1115,6,2015-08-01,1.0,0,0,1,d,c,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [16]:
merged_dataset.isnull().sum()

Store                        0
DayOfWeek                    0
Date                         0
Sales                        0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [17]:
merged_dataset_final.isnull().sum()

Store                        0
DayOfWeek                    0
Date                         0
Open                         0
Promo                        0
StateHoliday                 0
SchoolHoliday                0
StoreType                    0
Assortment                   0
CompetitionDistance          0
CompetitionOpenSinceMonth    0
CompetitionOpenSinceYear     0
Promo2                       0
Promo2SinceWeek              0
Promo2SinceYear              0
PromoInterval                0
dtype: int64

In [18]:
lb=preprocessing.LabelEncoder()

In [19]:
merged_dataset['StoreType']=lb.fit_transform(merged_dataset['StoreType'])
merged_dataset['Assortment']=lb.fit_transform(merged_dataset['Assortment'])
merged_dataset['StateHoliday']=lb.fit_transform(merged_dataset['StateHoliday'])

merged_dataset_final['StoreType']=lb.fit_transform(merged_dataset_final['StoreType'])
merged_dataset_final['Assortment']=lb.fit_transform(merged_dataset_final['Assortment'])
merged_dataset_final['StateHoliday']=lb.fit_transform(merged_dataset_final['StateHoliday'])

In [20]:
merged_dataset['PromoInterval'] = merged_dataset['PromoInterval'].astype(str)
merged_dataset['PromoInterval']=lb.fit_transform(merged_dataset['PromoInterval'])

merged_dataset_final['PromoInterval'] = merged_dataset_final['PromoInterval'].astype(str)
merged_dataset_final['PromoInterval']=lb.fit_transform(merged_dataset_final['PromoInterval'])

In [21]:
merged_dataset.dtypes

Store                                 int64
DayOfWeek                             int64
Date                         datetime64[ns]
Sales                                 int64
Open                                  int64
Promo                                 int64
StateHoliday                          int32
SchoolHoliday                         int64
StoreType                             int32
Assortment                            int32
CompetitionDistance                 float64
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                int64
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                         int32
dtype: object

In [22]:
merged_dataset_final.dtypes

Store                                 int64
DayOfWeek                             int64
Date                         datetime64[ns]
Open                                float64
Promo                                 int64
StateHoliday                          int32
SchoolHoliday                         int64
StoreType                             int32
Assortment                            int32
CompetitionDistance                 float64
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                int64
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                         int32
dtype: object

In [23]:
merged_dataset

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,1,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
1,2,5,2015-07-31,6064,1,1,0,1,0,0,570.0,11.0,2007.0,1,13.0,2010.0,2
2,3,5,2015-07-31,8314,1,1,0,1,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,2
3,4,5,2015-07-31,13995,1,1,0,1,2,2,620.0,9.0,2009.0,0,0.0,0.0,0
4,5,5,2015-07-31,4822,1,1,0,1,0,0,29910.0,4.0,2015.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,1,1,0,0,1900.0,6.0,2014.0,1,31.0,2013.0,2
1017205,1112,2,2013-01-01,0,0,0,1,1,2,2,1880.0,4.0,2006.0,0,0.0,0.0,0
1017206,1113,2,2013-01-01,0,0,0,1,1,0,2,9260.0,0.0,0.0,0,0.0,0.0,0
1017207,1114,2,2013-01-01,0,0,0,1,1,0,2,870.0,0.0,0.0,0,0.0,0.0,0
1017208,1115,2,2013-01-01,0,0,0,1,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3

In [24]:
merged_dataset_final

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,4,2015-09-17,1.0,1,0,0,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
1,3,4,2015-09-17,1.0,1,0,0,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,2
2,7,4,2015-09-17,1.0,1,0,0,0,2,24000.0,4.0,2013.0,0,0.0,0.0,0
3,8,4,2015-09-17,1.0,1,0,0,0,0,7520.0,10.0,2014.0,0,0.0,0.0,0
4,9,4,2015-09-17,1.0,1,0,0,0,2,2030.0,8.0,2000.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1111,6,2015-08-01,1.0,0,0,0,0,0,1900.0,6.0,2014.0,1,31.0,2013.0,2
41084,1112,6,2015-08-01,1.0,0,0,0,2,2,1880.0,4.0,2006.0,0,0.0,0.0,0
41085,1113,6,2015-08-01,1.0,0,0,0,0,2,9260.0,0.0,0.0,0,0.0,0.0,0
41086,1114,6,2015-08-01,1.0,0,0,0,0,2,870.0,0.0,0.0,0,0.0,0.0,0
41087,1115,6,2015-08-01,1.0,0,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3

In [25]:
merged_dataset_ordered = merged_dataset.groupby('Store').apply(lambda x: x.sort_values(by='Date')).reset_index(drop=True)
merged_dataset_final = merged_dataset_final.groupby('Store').apply(lambda x: x.sort_values(by='Date')).reset_index(drop=True)

In [26]:
merged_dataset_final_notFormat=merged_dataset_final

In [27]:
merged_dataset_ordered

,Store,DayOfWeek,Date,Sales,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,2,2013-01-01,0,0,0,1,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,3,2013-01-02,5530,1,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,4,2013-01-03,4327,1,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,5,2013-01-04,4486,1,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,6,2013-01-05,4997,1,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,1,2015-07-27,10712,1,1,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
1017205,1115,2,2015-07-28,8093,1,1,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
1017206,1115,3,2015-07-29,7661,1,1,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
1017207,1115,4,2015-07-30,8405,1,1,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
1017208,1115,5,2015-07-31,8680,1,1,0,1,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3

In [28]:
merged_dataset_final

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,6,2015-08-01,1.0,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,7,2015-08-02,0.0,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,1,2015-08-03,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,2015-08-04,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,3,2015-08-05,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,2015-09-13,0.0,0,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41084,1115,1,2015-09-14,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41085,1115,2,2015-09-15,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41086,1115,3,2015-09-16,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41087,1115,4,2015-09-17,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3

In [29]:
merged_dataset_final_notFormat

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,6,2015-08-01,1.0,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
1,1,7,2015-08-02,0.0,0,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
2,1,1,2015-08-03,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
3,1,2,2015-08-04,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
4,1,3,2015-08-05,1.0,1,0,1,2,0,1270.0,9.0,2008.0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,2015-09-13,0.0,0,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41084,1115,1,2015-09-14,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41085,1115,2,2015-09-15,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41086,1115,3,2015-09-16,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3
41087,1115,4,2015-09-17,1.0,1,0,0,3,2,5350.0,0.0,0.0,1,22.0,2012.0,3

In [30]:
train_set_y =merged_dataset_ordered.iloc[:, 3:4].values

In [31]:
merged_dataset_ordered = merged_dataset_ordered.drop(['Sales'], axis=1)

In [32]:
scaling_parameter = ['CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear']
scaling_parameter_final = ['CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek', 'Promo2SinceYear']

In [33]:
sc = MinMaxScaler()
sc_sales = MinMaxScaler()
sc_final = MinMaxScaler()

In [34]:
merged_dataset_ordered[scaling_parameter] = sc.fit_transform(merged_dataset_ordered[scaling_parameter])
merged_dataset_final[scaling_parameter_final] = sc_final.fit_transform(merged_dataset_final[scaling_parameter_final])

In [35]:
train_set_scalar=sc_sales.fit_transform(train_set_y)

In [36]:
merged_dataset_ordered

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,2,2013-01-01,0,0,1,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0
1,1,3,2013-01-02,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0
2,1,4,2013-01-03,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0
3,1,5,2013-01-04,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0
4,1,6,2013-01-05,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,1,2015-07-27,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3
1017205,1115,2,2015-07-28,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3
1017206,1115,3,2015-07-29,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3
1017207,1115,4,2015-07-30,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3
1017208,1115,5,2015-07-31,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3

In [37]:
merged_dataset_final

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,6,2015-08-01,1.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0
1,1,7,2015-08-02,0.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0
2,1,1,2015-08-03,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0
3,1,2,2015-08-04,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0
4,1,3,2015-08-05,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,2015-09-13,0.0,0,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3
41084,1115,1,2015-09-14,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3
41085,1115,2,2015-09-15,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3
41086,1115,3,2015-09-16,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3
41087,1115,4,2015-09-17,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3

In [38]:
train_set_scalar

array([[0.        ],
       [0.13308946],
       [0.10413708],
       ...,
       [0.18437583],
       [0.20228153],
       [0.20889991]])

In [39]:
merged_dataset_ordered['Month'] = merged_dataset_ordered['Date'].dt.month
merged_dataset_ordered['Day'] = merged_dataset_ordered['Date'].dt.day
merged_dataset_ordered['Month_sin'] = np.sin(2 * np.pi * merged_dataset_ordered['Month'] / 12)
merged_dataset_ordered['Month_cos'] = np.cos(2 * np.pi * merged_dataset_ordered['Month'] / 12)

In [40]:
merged_dataset_final['Month'] = merged_dataset_final['Date'].dt.month
merged_dataset_final['Day'] = merged_dataset_final['Date'].dt.day
merged_dataset_final['Month_sin'] = np.sin(2 * np.pi * merged_dataset_final['Month'] / 12)
merged_dataset_final['Month_cos'] = np.cos(2 * np.pi * merged_dataset_final['Month'] / 12)

In [41]:
merged_dataset_ordered = merged_dataset_ordered.drop(['Date'], axis=1)

In [42]:
merged_dataset_final_ordered = merged_dataset_final.drop(['Date'], axis=1)

In [43]:
merged_dataset_ordered

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1,2,0,0,1,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0,1,1,0.5,0.866025
1,1,3,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0,1,2,0.5,0.866025
2,1,4,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0,1,3,0.5,0.866025
3,1,5,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0,1,4,0.5,0.866025
4,1,6,1,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00,0.000000,0,1,5,0.5,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,1,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3,7,27,-0.5,-0.866025
1017205,1115,2,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3,7,28,-0.5,-0.866025
1017206,1115,3,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3,7,29,-0.5,-0.866025
1017207,1115,4,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3,7,30,-0.5,-0.866025
1017208,1115,5,1,1,0,1,3,2,0.070525,0.00,0.000000,1,0.44,0.998511,3,7,31,-0.5,-0.866025

In [44]:
merged_dataset_final_ordered

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1,6,1.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,1,-0.866025,-5.000000e-01
1,1,7,0.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,2,-0.866025,-5.000000e-01
2,1,1,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,3,-0.866025,-5.000000e-01
3,1,2,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,4,-0.866025,-5.000000e-01
4,1,3,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,5,-0.866025,-5.000000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,0.0,0,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,13,-1.000000,-1.836970e-16
41084,1115,1,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,14,-1.000000,-1.836970e-16
41085,1115,2,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,15,-1.000000,-1.836970e-16
41086,1115,3,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,16,-1.000000,-1.836970e-16
41087,1115,4,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,17,-1.000000,-1.836970e-16

In [45]:
train_y_list=[]
for i in train_set_scalar:
    train_y_list.append(i[0])

In [46]:
train_y_list=train_y_list[31:]
print(len(train_y_list))

1017178

In [47]:
merged_dataset_ordered = merged_dataset_ordered.astype(float)
merged_dataset_final_ordered= merged_dataset_final_ordered.astype(float)

In [48]:
merged_dataset_final_ordered

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1.0,6.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,8.0,1.0,-0.866025,-5.000000e-01
1,1.0,7.0,0.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,8.0,2.0,-0.866025,-5.000000e-01
2,1.0,1.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,8.0,3.0,-0.866025,-5.000000e-01
3,1.0,2.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,8.0,4.0,-0.866025,-5.000000e-01
4,1.0,3.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,8.0,5.0,-0.866025,-5.000000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115.0,7.0,0.0,0.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,13.0,-1.000000,-1.836970e-16
41084,1115.0,1.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,14.0,-1.000000,-1.836970e-16
41085,1115.0,2.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,15.0,-1.000000,-1.836970e-16
41086,1115.0,3.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,16.0,-1.000000,-1.836970e-16
41087,1115.0,4.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,17.0,-1.000000,-1.836970e-16

In [49]:
merged_dataset_ordered

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00,0.000000,0.0,1.0,1.0,0.5,0.866025
1,1.0,3.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00,0.000000,0.0,1.0,2.0,0.5,0.866025
2,1.0,4.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00,0.000000,0.0,1.0,3.0,0.5,0.866025
3,1.0,5.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00,0.000000,0.0,1.0,4.0,0.5,0.866025
4,1.0,6.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00,0.000000,0.0,1.0,5.0,0.5,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115.0,1.0,1.0,1.0,0.0,1.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44,0.998511,3.0,7.0,27.0,-0.5,-0.866025
1017205,1115.0,2.0,1.0,1.0,0.0,1.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44,0.998511,3.0,7.0,28.0,-0.5,-0.866025
1017206,1115.0,3.0,1.0,1.0,0.0,1.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44,0.998511,3.0,7.0,29.0,-0.5,-0.866025
1017207,1115.0,4.0,1.0,1.0,0.0,1.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44,0.998511,3.0,7.0,30.0,-0.5,-0.866025
1017208,1115.0,5.0,1.0,1.0,0.0,1.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44,0.998511,3.0,7.0,31.0,-0.5,-0.866025

In [50]:
df_store_1 = merged_dataset_ordered[merged_dataset_ordered['Store'] == 1]

In [51]:
df_store_1

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,1.0,1.0,0.5,0.866025
1,1.0,3.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,1.0,2.0,0.5,0.866025
2,1.0,4.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,1.0,3.0,0.5,0.866025
3,1.0,5.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,1.0,4.0,0.5,0.866025
4,1.0,6.0,1.0,0.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,1.0,5.0,0.5,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,1.0,1.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,7.0,27.0,-0.5,-0.866025
938,1.0,2.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,7.0,28.0,-0.5,-0.866025
939,1.0,3.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,7.0,29.0,-0.5,-0.866025
940,1.0,4.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,7.0,30.0,-0.5,-0.866025
941,1.0,5.0,1.0,1.0,0.0,1.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.0,0.0,0.0,7.0,31.0,-0.5,-0.866025

In [52]:
last_31_values = df_store_1.tail(31)
merged_dataset_final_ordered = pd.concat([last_31_values, merged_dataset_final_ordered], ignore_index=True)

In [53]:
merged_dataset_final_ordered

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1.0,3.0,1.0,1.0,0.0,0.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,7.0,1.0,-0.5,-8.660254e-01
1,1.0,4.0,1.0,1.0,0.0,0.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,7.0,2.0,-0.5,-8.660254e-01
2,1.0,5.0,1.0,1.0,0.0,0.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,7.0,3.0,-0.5,-8.660254e-01
3,1.0,6.0,1.0,0.0,0.0,0.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,7.0,4.0,-0.5,-8.660254e-01
4,1.0,7.0,0.0,0.0,0.0,0.0,2.0,0.0,0.016741,0.75,0.996526,0.0,0.00000,0.000000,0.0,7.0,5.0,-0.5,-8.660254e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41114,1115.0,7.0,0.0,0.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,13.0,-1.0,-1.836970e-16
41115,1115.0,1.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,14.0,-1.0,-1.836970e-16
41116,1115.0,2.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,15.0,-1.0,-1.836970e-16
41117,1115.0,3.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,16.0,-1.0,-1.836970e-16
41118,1115.0,4.0,1.0,1.0,0.0,0.0,3.0,2.0,0.070525,0.00,0.000000,1.0,0.44898,0.998511,3.0,9.0,17.0,-1.0,-1.836970e-16

In [54]:
train_x_format=[]
finished=False
counter=0
temporal_list=[]
while not finished:
    if len(temporal_list)==0:
        for i in range(counter,31):
            line=merged_dataset_ordered.iloc[i].tolist()
            temporal_list.append(line)
            counter+=1
        
    else:
        temporal_list=temporal_list[1:]
        line=merged_dataset_ordered.iloc[counter].tolist()
        temporal_list.append(line)
        counter+=1
    train_x_format.append(temporal_list)
    if counter>1017208:
        finished=True

In [55]:
test_x_final_format=[]
finished=False
counter=0
temporal_list=[]
while not finished:
    if len(temporal_list)==0:
        for i in range(counter,31):
            line=merged_dataset_final_ordered.iloc[i].tolist()
            temporal_list.append(line)
            counter+=1
        
    else:
        temporal_list=temporal_list[1:]
        line=merged_dataset_final_ordered.iloc[counter].tolist()
        temporal_list.append(line)
        counter+=1
    test_x_final_format.append(temporal_list)
    if counter>41118:
        finished=True

In [56]:
print(len(test_x_final_format))

41089

In [57]:
train_x_format.pop()
print(len(train_x_format))
print(len(train_y_list))

1017178
1017178

In [58]:
total_y_set=pd.DataFrame(train_y_list,columns=['Norm_sales'])
total_y_set=total_y_set.astype(np.float32)

In [59]:
total_y_set

         Norm_sales
0          0.135568
1          0.143679
2          0.000000
3          0.169238
4          0.145580
...             ...
1017173    0.257804
1017174    0.194773
1017175    0.184376
1017176    0.202282
1017177    0.208900

[1017178 rows x 1 columns]

In [60]:
training_limit=int(len(total_y_set)*0.8)

In [61]:
train_y_set=total_y_set[:training_limit]
test_y_set=total_y_set[training_limit:]

In [62]:
train_x_set=train_x_format[:training_limit]
test_x_set=train_x_format[training_limit:]

In [63]:
train_x_set=np.array(train_x_set)
train_y_set=np.array(train_y_set)
test_y_set=np.array(test_y_set)
test_x_set=np.array(test_x_set)
test_x_final_np=np.array(test_x_final_format)

In [64]:
train_x_set = train_x_set.astype(float)
train_y_set = train_y_set.astype(float)
test_y_set = test_y_set.astype(float)
test_x_set = test_x_set.astype(float)
test_x_final_np=test_x_final_np.astype(float)

In [65]:
train_y_set

array([[0.13556834],
       [0.14367886],
       [0.        ],
       ...,
       [0.        ],
       [0.24093282],
       [0.21072899]])

In [66]:
print(train_x_set.shape)
print(train_y_set.shape)
print(test_x_set.shape)
print(test_y_set.shape)
print(test_x_final_np.shape)

(813742, 31, 19)
(813742, 1)
(203436, 31, 19)
(203436, 1)
(41089, 31, 19)

In [67]:
#train_x_set_reshaped = np.reshape(train_x_set, (train_x_set.shape[0], 1, train_x_set.shape[1]))
#test_x_set_reshaped = np.reshape(test_x_set, (test_x_set.shape[0], 1, test_x_set.shape[1]))
#final_set=np.reshape(final_set, (final_set.shape[0], 1, final_set.shape[1]))

In [68]:
#train_x_set_reshaped.shape[2]

In [75]:
reg = Sequential()

In [76]:
reg.add(LSTM(128, input_shape=(31, 19), activation="relu"))
reg.add(Dropout(0.2))

In [77]:
#reg.add(LSTM(128, input_shape=(31, 19), activation="relu",return_sequences=True))
#reg.add(Dropout(0.2))
#reg.add(LSTM(64, activation="relu"))
#reg.add(Dropout(0.2))
#reg.add(Dense(30, activation='relu'))
#reg.add(Dropout(0.2))
reg.add(Dense(1, activation='linear'))

In [78]:
opt=tf.keras.optimizers.Adam(lr=1e-3,decay=1e-5)

In [79]:
reg.compile(optimizer=opt, loss='mean_squared_error',
            metrics=["mae"])

In [ ]:
reg.fit(train_x_set,train_y_set,epochs=3,validation_data=(test_x_set,test_y_set))

Epoch 1/3
 8312/25430 [========>.....................] - ETA: 6:56 - loss: 178.5864 - mae: 2.4081

In [80]:
from tensorflow.keras.models import save_model, load_model

In [81]:
save_model(reg, 'rnn_model_prueba.h5')

In [82]:
#loaded_model = load_model('rnn_model.h5')

In [83]:
predictions=reg.predict(test_x_final_np)

1285/1285 [==============================] - 12s 10ms/step

In [84]:
prediction_final=sc_sales.inverse_transform(predictions)

In [85]:
prediction_final=np.abs(prediction_final)
#print(len(prediction_final))
prediction_final

array([[ 4265.828 ],
       [ 5034.976 ],
       [ 3615.5164],
       ...,
       [12729.476 ],
       [12697.038 ],
       [12708.772 ]], dtype=float32)

In [86]:
final_prediction_format=[]
for i in prediction_final:
    final_prediction_format.append(i[0])

In [87]:
final_prediction_format.pop()
print(len(final_prediction_format))

41088

In [88]:
merged_dataset_final_notFormat

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos
0,1,6,2015-08-01,1.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,1,-0.866025,-5.000000e-01
1,1,7,2015-08-02,0.0,0,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,2,-0.866025,-5.000000e-01
2,1,1,2015-08-03,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,3,-0.866025,-5.000000e-01
3,1,2,2015-08-04,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,4,-0.866025,-5.000000e-01
4,1,3,2015-08-05,1.0,1,0,1,2,0,0.016741,0.75,0.996526,0,0.00000,0.000000,0,8,5,-0.866025,-5.000000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,2015-09-13,0.0,0,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,13,-1.000000,-1.836970e-16
41084,1115,1,2015-09-14,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,14,-1.000000,-1.836970e-16
41085,1115,2,2015-09-15,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,15,-1.000000,-1.836970e-16
41086,1115,3,2015-09-16,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,16,-1.000000,-1.836970e-16
41087,1115,4,2015-09-17,1.0,1,0,0,3,2,0.070525,0.00,0.000000,1,0.44898,0.998511,3,9,17,-1.000000,-1.836970e-16

In [89]:
original_id_df

          Id  Store  DayOfWeek       Date
0          1      1          4 2015-09-17
1          2      3          4 2015-09-17
2          3      7          4 2015-09-17
3          4      8          4 2015-09-17
4          5      9          4 2015-09-17
...      ...    ...        ...        ...
41083  41084   1111          6 2015-08-01
41084  41085   1112          6 2015-08-01
41085  41086   1113          6 2015-08-01
41086  41087   1114          6 2015-08-01
41087  41088   1115          6 2015-08-01

[41088 rows x 4 columns]

In [90]:
answer_format = pd.merge(merged_dataset_final_notFormat, original_id_df, on=["Store", "DayOfWeek", "Date"], how="left")

In [91]:
#answer_format[answer_format['Id'] == 1]
answer_format["Sales"]=final_prediction_format

In [92]:
answer_format

,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Day,Month_sin,Month_cos,Id,Sales
0,1,6,2015-08-01,1.0,0,0,1,2,0,0.016741,...,0,0.00000,0.000000,0,8,1,-0.866025,-5.000000e-01,40233,4265.828125
1,1,7,2015-08-02,0.0,0,0,1,2,0,0.016741,...,0,0.00000,0.000000,0,8,2,-0.866025,-5.000000e-01,39377,5034.976074
2,1,1,2015-08-03,1.0,1,0,1,2,0,0.016741,...,0,0.00000,0.000000,0,8,3,-0.866025,-5.000000e-01,38521,3615.516357
3,1,2,2015-08-04,1.0,1,0,1,2,0,0.016741,...,0,0.00000,0.000000,0,8,4,-0.866025,-5.000000e-01,37665,5113.236328
4,1,3,2015-08-05,1.0,1,0,1,2,0,0.016741,...,0,0.00000,0.000000,0,8,5,-0.866025,-5.000000e-01,36809,4273.583008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41083,1115,7,2015-09-13,0.0,0,0,0,3,2,0.070525,...,1,0.44898,0.998511,3,9,13,-1.000000,-1.836970e-16,4280,12824.591797
41084,1115,1,2015-09-14,1.0,1,0,0,3,2,0.070525,...,1,0.44898,0.998511,3,9,14,-1.000000,-1.836970e-16,3424,12809.203125
41085,1115,2,2015-09-15,1.0,1,0,0,3,2,0.070525,...,1,0.44898,0.998511,3,9,15,-1.000000,-1.836970e-16,2568,12835.477539
41086,1115,3,2015-09-16,1.0,1,0,0,3,2,0.070525,...,1,0.44898,0.998511,3,9,16,-1.000000,-1.836970e-16,1712,12729.475586
41087,1115,4,2015-09-17,1.0,1,0,0,3,2,0.070525,...,1,0.44898,0.998511,3,9,17,-1.000000,-1.836970e-16,856,12697.038086

In [93]:
columns_to_extract = ['Id', 'Sales']

# Create a new DataFrame with selected columns
answer = answer_format[columns_to_extract].copy()

In [94]:
answer

          Id         Sales
0      40233   4265.828125
1      39377   5034.976074
2      38521   3615.516357
3      37665   5113.236328
4      36809   4273.583008
...      ...           ...
41083   4280  12824.591797
41084   3424  12809.203125
41085   2568  12835.477539
41086   1712  12729.475586
41087    856  12697.038086

[41088 rows x 2 columns]

In [95]:
answer = answer.sort_values(by='Id')

# Reset the index after sorting, if needed
answer.reset_index(drop=True, inplace=True)

In [96]:
answer

          Id         Sales
0          1   3845.323242
1          2   3967.346924
2          3   4881.732422
3          4   4363.293945
4          5   4914.805664
...      ...           ...
41083  41084  12671.293945
41084  41085  12696.157227
41085  41086  12678.973633
41086  41087  12681.884766
41087  41088  12688.593750

[41088 rows x 2 columns]

In [97]:
csv_file_path = 'submision_test.csv'

In [98]:
answer.to_csv(csv_file_path, index=False)